body {
  font-family:'Roboto', sans-serif;
  text-align:center;
  background-color:gray;
  color:black;
}
#inputPlayer {
    height:20px;
}
#tryAgain {
  padding:5px;
}

.playerCard {
  padding:5px;
}