body {
  font-family:'Roboto', sans-serif;
  text-align:center;
  background-color:#001830;
  color:white;
}

#nav-bar {
  display:grid;
  align-items:center;
  grid-template-columns: 1fr auto 1fr;
  padding: 10px 20px;
}
#dailyButton {
  justify-self:left;
  justify-content:center;
  margin-left:50px;
  border-style:solid;
  border-color:white;
  border-width:2px;
  padding: 20px 30px;
  border-radius: 5px;
}
#dailyButton:hover {
  border-color:#d40032;
  color:#d40032;
}
#aboutButton {
  justify-self:end;
  justify-content:center;
  margin-right:50px;
  border-style:solid;
  border-color:white;
  border-width:2px;
  padding: 20px 30px;
  border-radius: 5px;
}
#aboutButton:hover {
  border-color:#d40032;
  color:#d40032;
}
#nav-bar h1 {
  justify-self:center;
  justify-content:center;
  margin-right:50px;
  border-style:solid;
  border-color:white;
  border-width:2px;
  padding: 20px 30px;
  margin-left:40px;
  border-radius: 5px;
}
#nav-bar h1:hover {
  border-color:#d40032;
  color:#d40032;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 30px;
  margin-bottom: 20px;
  font-family: 'Figtree', sans-serif;
  color:#0a3057;
}

.scorebug {
  background: #f4f1ea;
  border: 1px solid #595750;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.score-one {
  font-size:25px;
  color:gray;
}
.score-two {
  color:#0a3057;
  font-size:30px;
}
.score-three {
  color:#d40032;
  font-size:35px;
}
.score-four {
  color:#a61f1f;
  font-size:35px;
  animation: red-glow 1.5s linear infinite alternate;
}
.score-five {
  color:#ccb22f;
  font-size:40px;
  text-shadow: 0 0 5px black;
  -webkit-animation: gold-glow 1s ease-in-out infinite alternate;
  -moz-animation: gold-glow 1s ease-in-out infinite alternate;
  animation: gold-glow 1s ease-in-out infinite alternate;
}
.score-six {
    font-size:50px;
    text-shadow:
    0 0 5px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 165, 0, 0.6),
    0 0 20px rgba(255, 255, 0, 0.4);
    background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-glow 1s ease-in-out infinite alternate;
}
@keyframes red-glow {
  0% {
    text-shadow:
      0 0 5px #ff4d4d,
      0 0 10px #ff1a1a,
      0 0 20px #b30000;
  }

  100% {
    text-shadow:
      0 0 10px #ff9999,
      0 0 20px #ff1a1a,
      0 0 30px #800000;
  }
}
@keyframes gold-glow {
  0% {
    text-shadow:
      0 0 5px #fff3b0,
      0 0 10px #ffd700,
      0 0 20px #ffcc00,
      0 0 30px #b8860b;
  }

  100% {
    text-shadow:
      0 0 10px #fff8cc,
      0 0 20px #ffdf4d,
      0 0 30px #ffb700,
      0 0 40px #a87400;
  }
}
@keyframes rainbow-glow {
  0% {
    text-shadow:
      0 0 5px red,
      0 0 10px orange;
  }

  25% {
    text-shadow:
      0 0 5px yellow,
      0 0 10px green;
  }

  50% {
    text-shadow:
      0 0 5px blue,
      0 0 10px indigo;
  }

  75% {
    text-shadow:
      0 0 5px violet,
      0 0 10px red;
  }

  100% {
    text-shadow:
      0 0 5px orange,
      0 0 10px yellow;
  }
}

#inputPlayer {
    height:20px;
}
#tryAgain {
  padding:5px;
  color:#d40032
}

.playerCard {
  padding:10px;
  border-style:solid;
  border-color:#d40032;
  border-width:2px;
  border-radius:5px;
  width:400px;
  margin: 10px auto;
}
.playerCard:hover {
  border-color:white;
}

.playerCard strong {
  font-weight: 600;
  font-size: 18px;
  font-style: 'Regular 400';
  margin: 5px 0px;
}

.guessed {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}




-- About page
html, body {
  height: 100%;
  margin: 0;
}

.about-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* THIS is what pushes footer down */
.about-page main {
  flex: 1;
}